name: CI

on:
  pull_request:
    paths:
      - '*.yaml'
      - '.github/workflows/ci.yml'
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  ci:
    name: Building ${{ matrix.file }} / ${{ matrix.esphome-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        #### Modify below here to match your project ####
        file:
          - athom-2ch-relay-board
          - athom-4ch-relay-board
          - athom-8ch-relay-board
          - athom-energy-monitor-x2
          - athom-energy-monitor-x6
          - athom-garage-door
          - athom-mini-relay-v2
          - athom-smart-plug
          - athom-zigbee-gateway
          - athom-presence-sensor-v3
          - athom-scd40-sensor
          - athom-sht40-sensor
          - athom-ld2450-sensor
        #### Modify above here to match your project ####

        esphome-version:
          - stable
          - beta
          - dev
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: ESPHome ${{ matrix.esphome-version }}
        uses: esphome/build-action@v7
        with:
          yaml-file: ${{ matrix.file }}.yaml
          version: ${{ matrix.esphome-version }}